[submodule "indigo-stylesheet"]
	path = submodules/indigo-stylesheet
	url = https://github.com/PsychedelicShayna/indigo-stylesheet.git
[submodule "qt-hotkey-recorder-widget"]
	path = submodules/qt-hotkey-recorder-widget
	url = https://github.com/PsychedelicShayna/qt-hotkey-recorder-widget
[submodule "qt-vkid-table-widget"]
	path = submodules/qt-vkid-table-widget
	url = https://github.com/PsychedelicShayna/qt-vkid-table-widget
[submodule ".\\qt-hotkey-recorder-widget\\"]
	branch = include
